
@keyframes ShowEffectAnimation {
    from {
        
    }
}

.WildMagicPage {
    padding: 60px;
    box-sizing: border-box;
    
}

.WildMagic_Header {
    display: flex;
    justify-content: space-between;
}

.Color-guide {
    & ul {
        display: flex;
        gap: 20px;
        
        & li {
            color: cyan;
        }
    }
}

.WildMagicList {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    

    & .ResultNumber {
      max-height: 750px;
      overflow-y: scroll;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      
        & button {
            width: 100%;
            padding: 10px;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid cyan;
            color: white;
       }

       & button:hover {
            background-color: cyan;
            transition: 1s;
            color: rgb(2, 150, 150);
       }
    }

    .ResultNumber::-webkit-scrollbar {
        width: 100%;
    }

    & .ResultEffects {
       
       padding: 20px;
       display: flex;
       flex-direction: column;
       gap: 20px;

       & .EffectList {
        display: flex;
        flex-direction: column;
        gap: 20px;
       }

        & .WildMagicEffect {
            width: 100%;
            height: auto;
            border: 1px solid cyan;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            height: 200px;
            flex-direction: column;
            box-shadow: 3px 4px 3px cyan;
            border-radius: 10px;
            position: relative;
           

            & h1 {
                border-bottom: 1px solid ;
            }
        }

        

        & p {
            font-size: 30px;
            color: white;
        }

         & #EfeitoExtremo {
            animation-delay: 0.3s;
                & h1 {
                    color: red;
                }
            }

            & #EfeitoModerado {
                animation-delay: 0.5s;
                & h1 {
                    color: yellow;
                }
            }

            & #EfeitoIncomodo {
                animation-delay: 0.7s;
                
                & h1 {
                    color: lime;
                }
            }
    }
}